.n-dialog.n-modal.p-dialog {
  padding: 12px 0;
  transition-duration: 0.15s;
}

.n-dialog.n-modal.p-dialog.p-dialog-loading::after {
  content: ' ';
  position: absolute;
  top: 10px;
  right: 12px;
  width: 26px;
  height: 26px;
  z-index: 3;
  cursor: not-allowed;
}

.n-dialog .n-dialog__title.p-dialog-title {
  line-height: 1.6;
  font-size: 14px;
  padding: 0 16px 10px 14px;
  border-bottom: 1px solid rgb(224, 224, 230);
}

.n-dialog .n-dialog__title.p-dialog-title.p-dialog-title-without-icon {
  padding-left: 16px;
}

.n-dialog .n-dialog__content.p-dialog-content {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.6;
  padding: 0 16px;
  min-height: 68px;
}

.n-dialog.n-modal.p-dialog .n-dialog__close {
  margin: 12px 14px 0 0;
  font-size: 16px;
}

.n-dialog.n-modal.p-dialog .n-dialog__close:hover {
  color: rgb(31, 34, 37);
}

.n-dialog.n-modal.p-dialog .n-dialog__close:hover::before {
  background-color: transparent;
}

.n-dialog.n-modal.p-dialog .n-dialog__icon {
  font-size: 20px;
}

.n-dialog .n-dialog__action.p-dialog-action {
  padding: 12px 16px 0;
  border-top: 1px solid rgb(224, 224, 230);
}

.n-dialog.n-modal.p-dialog .n-dialog__action > *:not(:last-child) {
  margin-right: 10px;
}

.n-dialog.n-modal.p-dialog .n-dialog__action .n-button {
  min-width: 60px;
}
